// https://www.smashingmagazine.com/2024/09/sticky-headers-full-height-elements-tricky-combination/

body,
html,
.app {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.above-the-fold-spacer {
  height: 100vh;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
}

.header {
  position: sticky;
  top: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 2rem;
}

.hero {
  padding: 5rem 2rem;
  grid-column-start: 1;
  grid-row-start: 2;
}

.main {
  min-height: 55rem;
  padding: 5rem 2rem;
}
